name: Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Run npm Install 
      run: npm install
    - name: Get the version
      id: get_version
      run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
    - name: Set git user
      run: |
        git config user.email "doesntmatter@example.com"
        git config user.name "Automated Deploy"
    - name: Publish
      run: npm run deploy -- $SOURCE_TAG
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
        SOURCE_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}

